
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock

android/.gradle/4.10.2/javaCompile/javaCompile.lock

android/.gradle/4.10.2/javaCompile/jarAnalysis.bin

android/.gradle/4.10.2/javaCompile/classAnalysis.bin

*.bin

android/.gradle/4.10.2/gc.properties

android/.gradle/4.10.2/fileContent/fileContent.lock

android/.gradle/4.10.2/fileHashes/fileHashes.lock

android/.gradle/4.10.2/taskHistory/taskHistory.lock

android/.gradle/vcs-1/gc.properties

android/.gradle/buildOutputCleanup/cache.properties
